.mainWrapper {
    position: relative; /* 親要素を基準に子要素を配置 */
    display: flex;
    width: 100%; 
    height: 350px;
    overflow: hidden; 
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0; /* 完全に透明 */
      transform: translateY(10px); /* 少し下にずらす */
    }
    100% {
      opacity: 1; /* 不透明 */
      transform: translateY(0); /* 元の位置に戻す */
    }
  }

.card {
    position: absolute; /* 親要素（.mainWrapper）を基準に配置 */ 
    margin: 6px 16px;
    padding: 10px 18px;
    z-index: 3;
    background: #DE8D8D;
    box-shadow: 0 0 5px #ccc;
    font-size: 0.5rem;
    color: #fff;
    line-height: 1.7;
    letter-spacing: 1px;
    width: 40vw; /* ビューポート幅の1/3 */
    height: 33.33vh; /* ビューポート高さの1/3 */
    opacity: 0; /* 初期状態で透明 */
    animation: fadeIn 0.8s ease-out forwards; 
}
.main_visual {
    position: absolute; 
    top: 50%;
    right: 0px;
    transform: translate(10%, -55%) scale(0.8);
    z-index: 2; /* カードより背面に表示 */
    width: auto; 
    object-fit: cover;
}

@keyframes float {
  0% {
    transform: translateY(0); /* 初期位置 */
  }
  50% {
    transform: translateY(-6px); /* 上に移動 */
  }
  100% {
    transform: translateY(0); /* 元の位置に戻る */
  }
}

.toggleJournalBtn {
  z-index: 1; 
  margin-top: 10px;
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  background: rgba(120, 127, 124, 0.7);
  color: white;
  border-radius: 4px;
  cursor: white;
  animation: float 4s ease-in-out infinite; 
}

@media (max-width: 537px) {
    .mainWrapper {
        position: relative; /* 親要素を基準に子要素を配置 */
        display: flex;
        max-height: 200px;
      }
    .main_visual {
        padding-left: 50px;
    }
      
    .card h1 {
      font-size: 0.6rem;
    }
  
    .card h1 span {
      font-size: 0.4em;
    }
    .card p {
      font-size: 0.3em;
    }

  } 

