* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  max-width: 1400px; 
  width: 100%;
  max-width: 0 auto;
}

main {
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background: #fff;
}

section {
  /* padding仮 */
  padding: 20px 38px;
  min-height: 250px;
  align-items: center;
  /* overflow: hidden; */
  background: #F3EBDE;
  color: rgb(40, 39, 39);
}